@import "tailwindcss";

*{
  cursor: url("./assets/cursor.png"),auto;
}

html{
  width: 100%;
  font-size: 62.5%;
  font-family: Verdana, Arial, Helvetica, Serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-image: url('./assets/bg-blue.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.border-ridge{
  border: 4px ridge #5061ff;
}

.zoom{
   transition: 1s;
}

.zoom:hover{
   transform: scale(1.1);
}



.bg-box{
  background-color:#312c85;
  color: #f7f9fb;
}

#cds{
   background-image: url("./assets/bg-move.gif");
   background-repeat: no-repeat;
   background-size:cover;
}

#catalog, #cd, #home, #about, #guestbook {
  background: #DCD9E9;
  background: linear-gradient(0deg, rgba(220, 217, 233, 1) 30%, rgba(74, 63, 146, 1) 100%);
}


@media (min-width: 580px) {

  #catalog, #cd, #home, #about, #guestbook {
    background-image: url("./assets/bg-menu2b.png");
    background-repeat: no-repeat;
    background-size:cover;
  }

 
}